body {
    position: relative;
    background-color: rgb(39, 41, 51);
    color: rgb(93, 231, 149);
    font-size: 1.1rem;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}

.container img {
    width: 25%;
}

.container {
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
}

.navbar {
    text-align: center;
    background-color: rgb(39, 41, 51);
    border-bottom: 1px solid rgb(93, 231, 149);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.particleDiv {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-light .navbar-brand {
    color: rgb(93, 231, 149);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(93, 231, 149);
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(59, 62, 77);
    color: rgb(93, 231, 149);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(93, 231, 149, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>")
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar .navbar-nav {
    float: right;
    vertical-align: top;
}

.nav-link {
    font-size: 1.25rem;
}

.active {
    color: rgb(93, 231, 149) !important;
    background-color: rgb(59, 62, 77);
}

.modal-content {
    background-color: rgb(39, 41, 51);
}

.modal-content span {
    color: rgb(93, 231, 149);
    text-shadow: none;
}

.modal-title {
    font-size: 1.25rem;
}

.contactInfo {
    color: rgb(93, 231, 149);
    text-decoration: underline;
    font-size: 1.25rem;
}

.spacer {
    width: 2rem;
}

.iconSpace{
    margin-right: 0.4rem;
}

.carousel.slide{
    width: 55%;
    display:inline-block;
    
}

.carousel-caption{
    top: 0;
    bottom: auto;
    color: rgb(39, 41, 51);
}

.carousel-indicators{
    bottom:0;

}
.carousel-indicators .active{

    background-color: rgb(93, 231, 149);
}


.btn-dark{
    color: rgb(93, 231, 149);
}

.downloadForm{
    margin-bottom:3rem;
}